<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.bakingtogether">

    <!--permission for internet connection-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--MainActivity declaration-->
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--DetailsActivity declaration, on back button pressed the parent_activity is MainActivity -->
        <activity
            android:name=".UI.DetailsActivity"
            android:parentActivityName=".UI.MainActivity"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android:suport.PARENT_ACTIVITY"
                android:value=".UI.MainActivity" />
        </activity>

        <!--StepActivity declaration, on back button pressed the parent_activity is DetailsActivity-->
        <activity
            android:name=".UI.StepActivity"
            android:parentActivityName=".UI.DetailsActivity"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android:suport.PARENT_ACTIVITY"
                android:value=".UI.DetailsActivity" />
        </activity>

        <!--Declaration of the WidgetService with permission for bind for remoteviews-->
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!--Widget created, and the XML resource declared-->
        <receiver android:name=".widget.BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>

        <!--ConfigurationActivity that is used to customise the widget-->
        <activity android:name=".widget.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>